In this window, I am going to learn about the Pandas DataFrame, Will learn by doing the samll project, For that we will use wheather Data

In [1]:
import pandas as pd

In [8]:
## Read the data into a Data Frame 

data = pd.read_csv("weather_2012.csv")

print("Shape:", data.shape)
print("Index", data.index)

Shape: (8784, 8)
Index RangeIndex(start=0, stop=8784, step=1)

In [9]:
data.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [13]:
print(type(data['Date/Time']))     ### When we extract the single column from dataframe, it changes as series 
data['Date/Time'].head()

<class 'pandas.core.series.Series'>

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [14]:
data['Date/Time'] = pd.to_datetime(data['Date/Time'])      ## which converts the type of data/time object to timestam(date/time)

In [17]:
data['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

**How to Analyze the Data**

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [ ]:
data.head()      ## Print top 5 rows as defauld

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [ ]:
data.tail()        ## prinst the last 5 rows from date frame

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [23]:
data.index

RangeIndex(start=0, stop=8784, step=1)

In [ ]:
data['Weather'].unique()     ### retrives the unique values from the each column

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [25]:
data['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

In [30]:
data['Weather'].value_counts()     ### Retrives the counts of each unique value from the column

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

In [35]:
data['Weather'].value_counts()['Clear']

1326

In [38]:
data['Wind Spd (km/h)'].value_counts()

Wind Spd (km/h)
9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
83      1
70      1
63      1
54      1
Name: count, dtype: int64

**Now We will start practise the data manipulation using pandas library**

In [39]:
col = data['Weather']

print(type(col))
col.head()

<class 'pandas.core.series.Series'>

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

In [41]:
col = data[['Weather', 'Temp (C)']]

print(type(col))
col.head()

<class 'pandas.core.frame.DataFrame'>

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

**Get the first 25 rows from the Data_DF**

Important: We can do it by using the head() or sliceing

In [42]:
data[:25]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

In [ ]:
## Using slicing

data[0:10:2] ### Step is alternating the step function

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog

In [45]:
data[0:10:3]['Weather']

0                     Fog
3    Freezing Drizzle,Fog
6                     Fog
9                     Fog
Name: Weather, dtype: object

In [46]:
data[0:10:3][['Weather', 'Temp (C)']]

                Weather  Temp (C)
0                   Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
6                   Fog      -1.5
9                   Fog      -1.3

**Coming to .loc and iloc function**

- loc will work as taking the label 
- iloc will work as taking actual index from the dataframe

In [48]:
data.loc[0:5, ['Weather', 'Temp (C)']]

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5
5                   Fog      -1.4

In [51]:
data[['Weather', 'Temp (C)']].iloc[0:5]

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

In [52]:
snow_filter = data[data['Weather'].str.lower().str.contains('snow')]
snow_filter

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [53]:
df = data[(data['Wind Spd (km/h)'] > 24) & (data['Visibility (km)'] == 25)]
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 308 entries, 23 to 8760
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           308 non-null    datetime64[ns]
 1   Temp (C)            308 non-null    float64
 2   Dew Point Temp (C)  308 non-null    float64
 3   Rel Hum (%)         308 non-null    int64
 4   Wind Spd (km/h)     308 non-null    int64
 5   Visibility (km)     308 non-null    float64
 6   Stn Press (kPa)     308 non-null    float64
 7   Weather             308 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 21.7+ KB

GROUPBY - The Foundation


**What is GroupBy?**
- GroupBy is like organizing data into groups and then performing calculations on each group.

_Real-life analogy:_

- Imagine you have sales data from multiple stores
- You want to find total sales per store
- GroupBy groups all transactions by store, then sums them up

In [56]:
#### Grpupby in pandas dataFrame 

import pandas as pd 
import numpy as np 

data = {
    'Stores':['storeA', "storeB", 'storeA','storeC', 'storeB', 'storeA', 'storeC',],
    'Product':['Laptop','Phone','Tablet', 'Laptop', 'Phone','Tablet','Tablet'],
    'Sales': [1200, 800, 600,1500,900,700,550],
    'Quantity':[2,4,3,3,5,2,4]

}

df = pd.DataFrame(data)
df.head(7)

   Stores Product  Sales  Quantity
0  storeA  Laptop   1200         2
1  storeB   Phone    800         4
2  storeA  Tablet    600         3
3  storeC  Laptop   1500         3
4  storeB   Phone    900         5
5  storeA  Tablet    700         2
6  storeC  Tablet    550         4

In [57]:
### To find total sales per store

total_sales_store = df.groupby('Stores')['Sales'].sum()
print(total_sales_store)

Stores
storeA    2500
storeB    1700
storeC    2050
Name: Sales, dtype: int64

In [59]:
### B) Multiple Aggregations

store_status = df.groupby('Stores')['Sales'].agg(['sum', 'count', 'mean'])
print(store_status)

         sum  count         mean
Stores
storeA  2500      3   833.333333
storeB  1700      2   850.000000
storeC  2050      2  1025.000000

In [64]:
### Group by Multiple Columns

store_sales_per_product = df.groupby(['Stores','Product'])['Sales'].sum()
print(store_sales_per_product)

store_sales_per_product_count = df.groupby(['Stores','Product'])['Sales'].agg(['sum','count'])
print(store_sales_per_product_count)

Stores  Product
storeA  Laptop     1200
        Tablet     1300
storeB  Phone      1700
storeC  Laptop     1500
        Tablet      550
Name: Sales, dtype: int64
                 sum  count
Stores Product
storeA Laptop   1200      1
       Tablet   1300      2
storeB Phone    1700      2
storeC Laptop   1500      1
       Tablet    550      1

**Different Aggregation Functions**

In [66]:
## Multiple columns, multiple aggregations

result = df.groupby('Stores').agg({'Sales':['sum','mean',"max", "min"], 'Quantity':['sum', 'mean']})
print(result)

       Sales                         Quantity
         sum         mean   max  min      sum      mean
Stores
storeA  2500   833.333333  1200  600        7  2.333333
storeB  1700   850.000000   900  800        9  4.500000
storeC  2050  1025.000000  1500  550        7  3.500000

**PIVOT TABLES - Advanced Summarization**

_What is a Pivot Table?_
- A Pivot Table is like a smart cross-tabulation that reshapes data and summarizes it.
Real-life analogy:

- You have sales data with Store, Product, and Month
- You want a table showing Sales per Product (rows) for each Month (columns)
- Pivot table creates this summary automatically!

In [71]:
##Sample Data
sales_data = pd.DataFrame({
    'Date': ['2024-01', '2024-01', '2024-02', '2024-02', '2024-01', '2024-02'],
    'Product': ['Laptop', 'Laptop', 'Laptop', 'Phone', 'Tablet', 'Tablet'],
    'Store': ['Store A', 'Store A', 'Store A', 'Store A', 'Store B', 'Store B'],
    'Sales': [1200, 800, 1500, 900, 600, 700]
})

print(sales_data)
print("\n")

      Date Product    Store  Sales
0  2024-01  Laptop  Store A   1200
1  2024-01  Laptop  Store A    800
2  2024-02  Laptop  Store A   1500
3  2024-02   Phone  Store A    900
4  2024-01  Tablet  Store B    600
5  2024-02  Tablet  Store B    700

In [72]:
## You want a table showing Sales per Product (rows) for each Month (columns)

pivot = sales_data.pivot_table(
    values='Sales',
    index= 'Product',
    columns='Date',
    aggfunc='sum'
)

print(pivot)

Date     2024-01  2024-02
Product
Laptop    2000.0   1500.0
Phone        NaN    900.0
Tablet     600.0    700.0

In [77]:
pivotb = sales_data.pivot_table(
    values= 'Sales',
    index = ['Store', 'Product'],
    columns= 'Date',
    aggfunc = 'sum',
    fill_value= 0
)

print(pivotb)

Date             2024-01  2024-02
Store   Product
Store A Laptop      2000     1500
        Phone          0      900
Store B Tablet       600      700

In [87]:
### Real Data Engineering Example - Complete Analysis

import numpy as np

transactions = pd.DataFrame({
    'Date': pd.date_range('2024-01-01', periods=20,freq='D').tolist()*2,
    'Category':['Electronics', 'Clothing']*20,
    'Product': ['Laptop', "shirt", 'Phone', 'Pants', 'Tablets', 'Jackets']*6 +['Laptop', 'Shirt']*2,
    'Store':['StoreA','StoreB']*20,
    'Sales':np.random.randint(100,1000,40),
    'Quantity':np.random.randint(1,10,40)
})

In [ ]:
print(transactions.head(14))
print("\n")

print('='*50)
print('Groupby Analysis')
print('='*50)
print('\n')

         Date     Category  Product   Store  Sales  Quantity
0  2024-01-01  Electronics   Laptop  StoreA    558         8
1  2024-01-02     Clothing    shirt  StoreB    859         1
2  2024-01-03  Electronics    Phone  StoreA    233         2
3  2024-01-04     Clothing    Pants  StoreB    623         1
4  2024-01-05  Electronics  Tablets  StoreA    954         3
5  2024-01-06     Clothing  Jackets  StoreB    191         2
6  2024-01-07  Electronics   Laptop  StoreA    881         9
7  2024-01-08     Clothing    shirt  StoreB    224         6
8  2024-01-09  Electronics    Phone  StoreA    148         5
9  2024-01-10     Clothing    Pants  StoreB    468         2
10 2024-01-11  Electronics  Tablets  StoreA    562         3
11 2024-01-12     Clothing  Jackets  StoreB    798         6
12 2024-01-13  Electronics   Laptop  StoreA    327         7
13 2024-01-14     Clothing    shirt  StoreB    748         6


==================================================
Groupby Analysis
==================================================


==================================================
Total Sales per category
==================================================


Category
Clothing       10727
Electronics    10648
Name: Sales, dtype: int64

In [102]:
print('='*50)
print('1. Total Sales per category')
print('='*50)

salesPercategory = transactions.groupby('Category')['Sales'].sum()
print(salesPercategory)

print("\n2. Average Sales per Store:")
print('='*50)

AvgSalesPerStore = transactions.groupby('Store')['Sales'].mean()
print(AvgSalesPerStore)

print("\n3. Detailed Stats per Category:")
print('='*50)

stats_category = transactions.groupby('Category').agg({
    'Sales':['sum', 'mean', 'count'],
    'Quantity':['sum']})

print(stats_category)

==================================================
1. Total Sales per category
==================================================
Category
Clothing       10727
Electronics    10648
Name: Sales, dtype: int64

2. Average Sales per Store:
==================================================
Store
StoreA    532.40
StoreB    536.35
Name: Sales, dtype: float64

3. Detailed Stats per Category:
==================================================
             Sales               Quantity
               sum    mean count      sum
Category
Clothing     10727  536.35    20       94
Electronics  10648  532.40    20      106

In [109]:
## PIVOT TABLE Analysis
print("\n" + "=" * 50)
print("PIVOT TABLE ANALYSIS")
print("=" * 50)

## 1. Sales by Category and Store
print("\n1. Sales by Category (rows) and Store (columns):")

pivotA = transactions.pivot_table(
    values = 'Sales',
    index = 'Category',
    columns = 'Store',
    aggfunc = 'sum'
)

print(pivotA)

## 2. Average sales by Product and Store
print("\n2. Average Sales by Product (rows) and Store (columns):")
pivot2 = transactions.pivot_table(
    values='Sales',
    index='Product',
    columns='Store',
    aggfunc='mean'
)
print(pivot2.round(2))

==================================================
PIVOT TABLE ANALYSIS
==================================================

1. Sales by Category (rows) and Store (columns):
Store         StoreA   StoreB
Category
Clothing         NaN  10727.0
Electronics  10648.0      NaN

2. Average Sales by Product (rows) and Store (columns):
Store    StoreA  StoreB
Product
Jackets     NaN  551.50
Laptop   568.75     NaN
Pants       NaN  456.33
Phone    432.33     NaN
Shirt       NaN  475.00
Tablets  584.00     NaN
shirt       NaN  621.67

**Common GroupBy & Pivot Patterns in Data Engineering**

In [111]:
transactions.head(10)

        Date     Category  Product   Store  Sales  Quantity
0 2024-01-01  Electronics   Laptop  StoreA    558         8
1 2024-01-02     Clothing    shirt  StoreB    859         1
2 2024-01-03  Electronics    Phone  StoreA    233         2
3 2024-01-04     Clothing    Pants  StoreB    623         1
4 2024-01-05  Electronics  Tablets  StoreA    954         3
5 2024-01-06     Clothing  Jackets  StoreB    191         2
6 2024-01-07  Electronics   Laptop  StoreA    881         9
7 2024-01-08     Clothing    shirt  StoreB    224         6
8 2024-01-09  Electronics    Phone  StoreA    148         5
9 2024-01-10     Clothing    Pants  StoreB    468         2

In [120]:
transactions['Date'] = pd.to_datetime(transactions['Date'])
transactions.info()

df= transactions.groupby(transactions['Date'].dt.date)['Sales'].sum()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      40 non-null     datetime64[ns]
 1   Category  40 non-null     object
 2   Product   40 non-null     object
 3   Store     40 non-null     object
 4   Sales     40 non-null     int64
 5   Quantity  40 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 2.0+ KB
Date
2024-01-01    1168
2024-01-02    1014
2024-01-03     460
2024-01-04    1451
2024-01-05    1476
2024-01-06     797
2024-01-07    1857
2024-01-08     622
2024-01-09     927
2024-01-10     682
2024-01-11    1008
2024-01-12    1113
2024-01-13     605
2024-01-14     882
2024-01-15    1034
2024-01-16    1833
2024-01-17     880
2024-01-18     971
2024-01-19    1233
2024-01-20    1362
Name: Sales, dtype: int64

In [123]:
transactions['mod_Date'] = transactions['Date'].dt.date
print(transactions)

         Date     Category  Product   Store  Sales  Quantity    mod_Date
0  2024-01-01  Electronics   Laptop  StoreA    558         8  2024-01-01
1  2024-01-02     Clothing    shirt  StoreB    859         1  2024-01-02
2  2024-01-03  Electronics    Phone  StoreA    233         2  2024-01-03
3  2024-01-04     Clothing    Pants  StoreB    623         1  2024-01-04
4  2024-01-05  Electronics  Tablets  StoreA    954         3  2024-01-05
5  2024-01-06     Clothing  Jackets  StoreB    191         2  2024-01-06
6  2024-01-07  Electronics   Laptop  StoreA    881         9  2024-01-07
7  2024-01-08     Clothing    shirt  StoreB    224         6  2024-01-08
8  2024-01-09  Electronics    Phone  StoreA    148         5  2024-01-09
9  2024-01-10     Clothing    Pants  StoreB    468         2  2024-01-10
10 2024-01-11  Electronics  Tablets  StoreA    562         3  2024-01-11
11 2024-01-12     Clothing  Jackets  StoreB    798         6  2024-01-12
12 2024-01-13  Electronics   Laptop  StoreA    327         7  2024-01-13
13 2024-01-14     Clothing    shirt  StoreB    748         6  2024-01-14
14 2024-01-15  Electronics    Phone  StoreA    349         7  2024-01-15
15 2024-01-16     Clothing    Pants  StoreB    960         1  2024-01-16
16 2024-01-17  Electronics  Tablets  StoreA    297         1  2024-01-17
17 2024-01-18     Clothing  Jackets  StoreB    405         3  2024-01-18
18 2024-01-19  Electronics   Laptop  StoreA    401         7  2024-01-19
19 2024-01-20     Clothing    shirt  StoreB    978         9  2024-01-20
20 2024-01-01  Electronics    Phone  StoreA    610         5  2024-01-01
21 2024-01-02     Clothing    Pants  StoreB    155         7  2024-01-02
22 2024-01-03  Electronics  Tablets  StoreA    227         2  2024-01-03
23 2024-01-04     Clothing  Jackets  StoreB    828         4  2024-01-04
24 2024-01-05  Electronics   Laptop  StoreA    522         3  2024-01-05
25 2024-01-06     Clothing    shirt  StoreB    606         3  2024-01-06
26 2024-01-07  Electronics    Phone  StoreA    976         5  2024-01-07
27 2024-01-08     Clothing    Pants  StoreB    398         5  2024-01-08
28 2024-01-09  Electronics  Tablets  StoreA    779         9  2024-01-09
29 2024-01-10     Clothing  Jackets  StoreB    214         5  2024-01-10
30 2024-01-11  Electronics   Laptop  StoreA    446         3  2024-01-11
31 2024-01-12     Clothing    shirt  StoreB    315         5  2024-01-12
32 2024-01-13  Electronics    Phone  StoreA    278         7  2024-01-13
33 2024-01-14     Clothing    Pants  StoreB    134         9  2024-01-14
34 2024-01-15  Electronics  Tablets  StoreA    685         5  2024-01-15
35 2024-01-16     Clothing  Jackets  StoreB    873         7  2024-01-16
36 2024-01-17  Electronics   Laptop  StoreA    583         8  2024-01-17
37 2024-01-18     Clothing    Shirt  StoreB    566         7  2024-01-18
38 2024-01-19  Electronics   Laptop  StoreA    832         7  2024-01-19
39 2024-01-20     Clothing    Shirt  StoreB    384         5  2024-01-20

In [126]:
### Top N per group 

top_products = transactions.groupby('Category').apply(
    lambda x:x.nlargest(3,'Sales')
)

print(top_products)

                     Date     Category  Product   Store  Sales  Quantity  \
Category
Clothing    19 2024-01-20     Clothing    shirt  StoreB    978         9
            15 2024-01-16     Clothing    Pants  StoreB    960         1
            35 2024-01-16     Clothing  Jackets  StoreB    873         7
Electronics 26 2024-01-07  Electronics    Phone  StoreA    976         5
            4  2024-01-05  Electronics  Tablets  StoreA    954         3
            6  2024-01-07  Electronics   Laptop  StoreA    881         9

                  mod_Date
Category
Clothing    19  2024-01-20
            15  2024-01-16
            35  2024-01-16
Electronics 26  2024-01-07
            4   2024-01-05
            6   2024-01-07

/var/folders/06/5bcp36ss3xs92kmmv1wjsjsm0000gn/T/ipykernel_93214/2051001729.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_products = transactions.groupby('Category').apply(

In [129]:
## Cumulative sum per group 

transactions['cumulative_Sales'] = transactions.groupby('Store')['Sales'].cumsum()
print(transactions)

         Date     Category  Product   Store  Sales  Quantity    mod_Date  \
0  2024-01-01  Electronics   Laptop  StoreA    558         8  2024-01-01
1  2024-01-02     Clothing    shirt  StoreB    859         1  2024-01-02
2  2024-01-03  Electronics    Phone  StoreA    233         2  2024-01-03
3  2024-01-04     Clothing    Pants  StoreB    623         1  2024-01-04
4  2024-01-05  Electronics  Tablets  StoreA    954         3  2024-01-05
5  2024-01-06     Clothing  Jackets  StoreB    191         2  2024-01-06
6  2024-01-07  Electronics   Laptop  StoreA    881         9  2024-01-07
7  2024-01-08     Clothing    shirt  StoreB    224         6  2024-01-08
8  2024-01-09  Electronics    Phone  StoreA    148         5  2024-01-09
9  2024-01-10     Clothing    Pants  StoreB    468         2  2024-01-10
10 2024-01-11  Electronics  Tablets  StoreA    562         3  2024-01-11
11 2024-01-12     Clothing  Jackets  StoreB    798         6  2024-01-12
12 2024-01-13  Electronics   Laptop  StoreA    327         7  2024-01-13
13 2024-01-14     Clothing    shirt  StoreB    748         6  2024-01-14
14 2024-01-15  Electronics    Phone  StoreA    349         7  2024-01-15
15 2024-01-16     Clothing    Pants  StoreB    960         1  2024-01-16
16 2024-01-17  Electronics  Tablets  StoreA    297         1  2024-01-17
17 2024-01-18     Clothing  Jackets  StoreB    405         3  2024-01-18
18 2024-01-19  Electronics   Laptop  StoreA    401         7  2024-01-19
19 2024-01-20     Clothing    shirt  StoreB    978         9  2024-01-20
20 2024-01-01  Electronics    Phone  StoreA    610         5  2024-01-01
21 2024-01-02     Clothing    Pants  StoreB    155         7  2024-01-02
22 2024-01-03  Electronics  Tablets  StoreA    227         2  2024-01-03
23 2024-01-04     Clothing  Jackets  StoreB    828         4  2024-01-04
24 2024-01-05  Electronics   Laptop  StoreA    522         3  2024-01-05
25 2024-01-06     Clothing    shirt  StoreB    606         3  2024-01-06
26 2024-01-07  Electronics    Phone  StoreA    976         5  2024-01-07
27 2024-01-08     Clothing    Pants  StoreB    398         5  2024-01-08
28 2024-01-09  Electronics  Tablets  StoreA    779         9  2024-01-09
29 2024-01-10     Clothing  Jackets  StoreB    214         5  2024-01-10
30 2024-01-11  Electronics   Laptop  StoreA    446         3  2024-01-11
31 2024-01-12     Clothing    shirt  StoreB    315         5  2024-01-12
32 2024-01-13  Electronics    Phone  StoreA    278         7  2024-01-13
33 2024-01-14     Clothing    Pants  StoreB    134         9  2024-01-14
34 2024-01-15  Electronics  Tablets  StoreA    685         5  2024-01-15
35 2024-01-16     Clothing  Jackets  StoreB    873         7  2024-01-16
36 2024-01-17  Electronics   Laptop  StoreA    583         8  2024-01-17
37 2024-01-18     Clothing    Shirt  StoreB    566         7  2024-01-18
38 2024-01-19  Electronics   Laptop  StoreA    832         7  2024-01-19
39 2024-01-20     Clothing    Shirt  StoreB    384         5  2024-01-20

    cumulative_Sales
0                558
1                859
2                791
3               1482
4               1745
5               1673
6               2626
7               1897
8               2774
9               2365
10              3336
11              3163
12              3663
13              3911
14              4012
15              4871
16              4309
17              5276
18              4710
19              6254
20              5320
21              6409
22              5547
23              7237
24              6069
25              7843
26              7045
27              8241
28              7824
29              8455
30              8270
31              8770
32              8548
33              8904
34              9233
35              9777
36              9816
37             10343
38             10648
39             10727

In [130]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              40 non-null     datetime64[ns]
 1   Category          40 non-null     object
 2   Product           40 non-null     object
 3   Store             40 non-null     object
 4   Sales             40 non-null     int64
 5   Quantity          40 non-null     int64
 6   mod_Date          40 non-null     object
 7   cumulative_Sales  40 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 2.6+ KB

In [131]:
transactions['cumulative_Sales']

0       558
1       859
2       791
3      1482
4      1745
5      1673
6      2626
7      1897
8      2774
9      2365
10     3336
11     3163
12     3663
13     3911
14     4012
15     4871
16     4309
17     5276
18     4710
19     6254
20     5320
21     6409
22     5547
23     7237
24     6069
25     7843
26     7045
27     8241
28     7824
29     8455
30     8270
31     8770
32     8548
33     8904
34     9233
35     9777
36     9816
37    10343
38    10648
39    10727
Name: cumulative_Sales, dtype: int64

**Practice Exercise:**

Create this dataset and practice:

In [3]:
import pandas as pd 
import numpy as np 


practice_data = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'East', 'West', 'South'] * 10,
    'Product': ['A', 'B', 'C', 'A', 'B', 'C'] * 10,
    'Quarter': ['Q1', 'Q1', 'Q2', 'Q2', 'Q3', 'Q3'] * 10,
    'Sales': np.random.randint(1000, 5000, 60),
    'Profit': np.random.randint(100, 1000, 60)
})

In [16]:
## Task1:

salesPerregion = practice_data.groupby('Region')['Sales'].sum()
print(salesPerregion)

Avgprofit_perProduct = practice_data.groupby('Product')['Profit'].mean()
print(Avgprofit_perProduct)

pivotA = practice_data.pivot_table(
    values= 'Sales',
    index = 'Region',
    columns = 'Quarter',
    aggfunc = 'sum',
    fill_value = 0,
    margins= True,
    margins_name= 'Total'
)

print(pivotA)


pivotb = practice_data.pivot_table(
    values= 'Profit',
    index= 'Product',
    columns= 'Region',
    aggfunc= 'mean',
    fill_value= 0,
    margins = True,
    margins_name= 'Total'
)

print(pivotb)

Region
East     25096
North    61551
South    56255
West     35957
Name: Sales, dtype: int64
Product
A    534.85
B    474.15
C    570.10
Name: Profit, dtype: float64
Quarter     Q1     Q2     Q3   Total
Region
East         0  25096      0   25096
North    36000  25551      0   61551
South    27854      0  28401   56255
West         0      0  35957   35957
Total    63854  50647  64358  178859
Region    East  North   South   West       Total
Product
A        496.8  572.9    0.00    0.0  534.850000
B          0.0    0.0  498.60  449.7  474.150000
C          0.0  612.5  527.70    0.0  570.100000
Total    496.8  592.7  513.15  449.7  526.366667